sechecker/profiles/sechecker.dtd

<!ELEMENT item EMPTY>
<!ATTLIST item value NMTOKEN #REQUIRED>

<!ELEMENT module (option*)>
<!ATTLIST module name ID #REQUIRED>
<!ATTLIST module output (quiet|short|verbose|default) #REQUIRED>

<!ELEMENT option (item+)>
<!ATTLIST option name NMTOKEN #REQUIRED>

<!ELEMENT profile (desc, module+)>
<!ATTLIST profile name ID #REQUIRED>

<!ELEMENT sechecker (profile)>
<!ATTLIST sechecker version NMTOKEN #REQUIRED>

<!ELEMENT desc (#PCDATA)>

